<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>
            <div class="details content">
                <h2>
                    <%= blog.title %>
                </h2>
                <div class="content">
                    <p>
                        <%= blog.body %>
                    </p>
                </div>
                <a class="delete" data-doc="<%= blog._id %>">
                    <i class="fa-solid fa-trash"></i> </a>
            </div>
            <%- include('../partials/footer.ejs') %>
                <script>
                    // query the delete btn (frontend job) then fetch the wanted path with (delete method)
                    // then get the redirect json and handle it the next step
                    const deleteBtn = document.querySelector('a.delete');
                    deleteBtn.addEventListener('click', e => {
                        const endpoint = `/blogs/${deleteBtn.dataset.doc}`;
                        fetch(endpoint, {
                            method: 'DELETE'
                        })
                            .then(response => response.json())
                            .then(data => window.location.href = data.redirect)
                            .catch(err => console.log(err))
                    })


                        < script src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                    integrity = "sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                    crossorigin = "anonymous" ></>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
                            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
                            crossorigin="anonymous"></script>
                <script src="https://kit.fontawesome.com/872a0c00b6.js" crossorigin="anonymous"></script>
                </script>
    </body>

</html>